<h2>Create Account</h2>
<form method="POST">
    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>
    <label>Password: (Password must be 8–16 characters, containing at least one uppercase letter, one lowercase letter, one digit, and one special character. )</label><br>
    <input type="password" name="password" required><br><br>
    <label>Confirm Password:</label><br>
    <input type="password" name="confirm_password" required><br><br>
    <label>Key Number:</label><br>
    <select name="key_number" required>
        <option value="">--Select--</option>
        {% for i in range(1, 11) %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Create Account">
</form>